{% extends 'meeting_planner/base.html' %}

{% load static %}

{% block head %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock head %}

{% block title %}Встречи{% endblock %}


{% block content %}
    <div class="profile__card">
        <div class="profile__nick">
            <span>{{ user.username }}</span>
        </div>
        <div class="profile__img">
            <img src="{% static '/img/avatar.jpg' %}" alt="">
        </div>
        {% if user.age %}
        <div class="profile__name">
            <span>Ваш возраст - {{ user.age }}</span>
        </div>
        {% endif %}
        <div class="profile__email">
            <span>{{ user.email }}</span>
        </div>
        <form action="/logout" target="_blank">
            <button>Выйти</button>
        </form>
        <form method="post" action="{% url 'profile' %}">
            {% csrf_token %}
            {{ free_time_form }}
        </form>
    </div>
{% endblock content %}
