{% extends 'meeting_planner/base.html' %}

{% load static %}

{% block head %}
    <link href="{% static 'css/sign_in.css' %}" rel="stylesheet">
{% endblock head %}

{% block title %}Регистрация{% endblock %}


{% block content %}
    <form action="{% url 'registration' %}" method="post" class="sign__in__card">
        {% csrf_token %}
        <h3>Регистрация</h3>

        {% if form.errors %}
        {% endif %}

        {{ form.as_p }}

        <div class="sign__in__btn">
            <div class="sign__up__btn">
                <button type="submit">Регистрация</button>
            </div>
        </div>

    </form>
{% endblock content %}
