{% extends 'meeting_planner/base.html' %}

{% load static %}

{% block head %}
    <link href="{% static 'css/sign_in.css' %}" rel="stylesheet">
{% endblock head %}

{% block title %}Вход{% endblock title %}

{% block content %}
    <form action="{% url 'login' %}" method="post" class="sign__in__card">
        <h3>Вход</h3>
        <ul>
            {% for field in form %}
                <li class="df-ai-bl-fd-c">{{ field.name }} {{ field }}</li>
            {% endfor %}
                <button class="button" type="submit">Войти</button>

        </ul>
    </form>
{% endblock content %}