{% extends 'meeting_planner/base.html' %}

{% load static %}

{% block head %}
    <link href="{% static 'css/teams.css' %}" rel="stylesheet">
{% endblock head %}

{% block title %}Встречи{% endblock %}


{% block content %}
    <div class="main__top">
        <div class="add__team">
            <form method="post" action="{% url 'team' %} " class="search"
                  style="justify-content: start">
                <input type="text" placeholder="Название встречи" name="name" aria-label="Название встречи"
                       style="width: 200px">
                <button type="submit">Создать</button>
            </form>

        </div>
        <h3>Встречи</h3>
        <form class="search">
            <input placeholder="Название встречи" type="search" aria-label="Поиск">
            <button type="submit">Поиск</button>
        </form>
    </div>


    <div class="teams">
        {% if meetings %}
            {% for meeting in meetings %}
                <div class="team">
                    <div>
                        <div class="team__inf">
                            <h3>${meeting.name}</h3>
                        </div>

                        <form class="rename" method="post" action="{% url 'change_meeting_name' %}">
                            <label>
                                <input type="hidden" name="id" value="${meeting.id}">
                                <input type="text" name="name" placeholder="Переименовать">
                            </label>
                            <button type="submit">✓</button>
                        </form>
                    </div>

                    <div class="team__btn">
                        <a role="button" class="enter" href="{% url  'meeting_by_id' %}">Перейти</a>
                        <form method="post" action="{% url 'delete_meeting' %}">
                            <input type="hidden" name="teamId" value="${team.id}">
                            <button type="submit" class="leave">Удалить</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}
