{% extends 'meeting_planner/base.html' %}

{% load static %}

{% block head %}
    <link href="{% static 'css/teams.css' %}" rel="stylesheet">
{% endblock head %}

{% block title %}Встречи{% endblock %}


{% block content %}
    <div class="main__top">
        <h3>Встречи команды "{{ team.name }}"</h3>
    </div>


    <div class="teams">
        {% for meeting in meetings %}
            <div class="team">
                <div>
                    <div class="team__inf">
                        <h3>${meeting.name}</h3>
                    </div>

                    <form class="rename" method="post" action="{% url 'change_meeting_name' meeting.id %}">
                        <label>
                            <input type="hidden" name="id" value="${meeting.id}">
                            <input type="text" name="name" placeholder="Переименовать">
                        </label>
                        <button type="submit">✓</button>
                    </form>
                </div>

                <div class="team__btn">
                    <a role="button" class="enter" href="{% url 'meeting_by_id' meeting.id %}">Перейти</a>
                    <form method="post" action="{% url 'meeting_delete' meeting.id %}">
                        <button type="submit" class="leave">Удалить</button>
                    </form>
                </div>
            </div>
        {% endfor %}
        {% if not meetings %}
            <h4>У данной команды нет запланированных встреч</h4>
        {% endif %}
    </div>
{% endblock content %}
